.version._404 /* version checker */
{
	color: #0000F6;
	background-color: #BF1EE6;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 835px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	left: -100px;
	position: relative;
}

#pu1887
{
	width: 0.01px;
	padding-bottom: 1000px;
	margin-left: -100px;
	margin-top: -18px;
}

#u1887
{
	z-index: 2;
	height: 1000px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/background_01.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1887-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#u1888
{
	z-index: 3;
	height: 1000px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/gradient_for_home.png") repeat-x center center;
}

#u1888-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#u1889
{
	z-index: 4;
	height: 1000px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/stripe_pattern.png") repeat center center;
}

#u1889-bw
{
	z-index: 4;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#pu13643
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -980px;
}

#u13643
{
	z-index: 117;
	width: 65px;
	position: relative;
	margin-right: -10000px;
}

#menuu510
{
	z-index: 80;
	width: 533px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 427px;
}

#u539
{
	width: 83px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u540
{
	width: 83px;
	padding-bottom: 18px;
	position: relative;
}

#u540:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u540.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u542-4
{
	width: 50px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u540:hover #u542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u540.MuseMenuActive #u542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u560
{
	width: 79px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u561
{
	width: 79px;
	padding-bottom: 18px;
	position: relative;
}

#u561:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u561.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u562-4
{
	width: 46px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u561:hover #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u561.MuseMenuActive #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u553
{
	width: 88px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#u554
{
	width: 88px;
	padding-bottom: 18px;
	position: relative;
}

#u554:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u554.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u555-4
{
	width: 56px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u554:hover #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u554.MuseMenuActive #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u511
{
	width: 91px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u512
{
	width: 91px;
	padding-bottom: 18px;
	position: relative;
}

#u512:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u512.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u514-4
{
	width: 59px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u512:hover #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u512.MuseMenuActive #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u525
{
	width: 98px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u526
{
	width: 98px;
	padding-bottom: 18px;
	position: relative;
}

#u526:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u526.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u527-4
{
	width: 66px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u526:hover #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u526.MuseMenuActive #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u546
{
	width: 84px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u547
{
	width: 84px;
	padding-bottom: 18px;
	position: relative;
}

#u547:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u547.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u549-4
{
	width: 52px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u547:hover #u549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u547.MuseMenuActive #u549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u15240
{
	z-index: 121;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1220px;
}

#u509
{
	z-index: 78;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1270px;
}

#u737
{
	z-index: 79;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1320px;
}

#u15240:hover,#u509:hover,#u737:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u1892-4
{
	z-index: 12;
	width: 75px;
	min-height: 33px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 19px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	margin-left: 547px;
	top: -758px;
	margin-bottom: -33px;
	position: relative;
}

#u1892-2
{
	padding-top: 6px;
}

#u1891-7
{
	z-index: 5;
	width: 790px;
	min-height: 200px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 96px;
	color: #FFFFFF;
	letter-spacing: 10px;
	line-height: 96px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 190px;
	top: -713px;
	margin-bottom: -200px;
	position: relative;
}

#u1891
{
	color: #FFD81B;
}

#u1893-4
{
	z-index: 16;
	width: 160px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	color: #0C0B00;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	margin-left: 505px;
	top: -435px;
	margin-bottom: -50px;
	position: relative;
}

#u1893-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 160px;
	margin: 0px 0px -50px 505px;
}

#u1893-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u1893-2
{
	padding-top: 16px;
}

#u482
{
	z-index: 20;
	min-height: 196px;
	padding-bottom: 74px;
}

#pu487-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 100px;
}

#u487-4
{
	z-index: 59;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#u489-4
{
	z-index: 67;
	width: 425px;
	min-height: 91px;
	margin-top: 7px;
	position: relative;
}

#pu495-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 960px;
}

#u495-4
{
	z-index: 63;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#pu15210
{
	width: 0.01px;
	margin-top: 27px;
}

#u15210
{
	z-index: 75;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u15210:hover
{
	width: 50px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u496
{
	z-index: 71;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u498
{
	z-index: 72;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u505
{
	z-index: 73;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u501
{
	z-index: 74;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u496:hover,#u498:hover,#u505:hover,#u501:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u482-bw
{
	z-index: 20;
	min-height: 196px;
}

#u485
{
	z-index: 21;
	min-height: 97px;
	padding-bottom: 30px;
}

#u482_align_to_page,#u485_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
}

#u13665
{
	z-index: 119;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#pu3348-31
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 338px;
}

#u3348-31
{
	z-index: 28;
	width: 695px;
	min-height: 21px;
	position: relative;
}

#u486-6
{
	z-index: 22;
	margin-top: 10px;
	position: relative;
}

#u3391
{
	z-index: 77;
	width: 65px;
	height: 65px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1175px;
	background: transparent url("../images/up_01.png") no-repeat center center;
}

#u3391:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
	background: transparent url("../images/up_02.png") no-repeat center center;
}

#u485-bw
{
	z-index: 21;
	min-height: 97px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 20px;
}

