.version.big_day__we_re_online_ /* version checker */
{
	color: #0000E2;
	background-color: #804743;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 834.9499999999998px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	width: 0.01px;/* should not cover content below */
}

#pu2346
{
	width: 0.01px;
	padding-bottom: 500px;
	margin-left: -100px;
}

#u2346
{
	z-index: 2;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/holiday-fireworks_blur.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2346-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#u2347
{
	z-index: 3;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/stripe_pattern.png") repeat center center;
}

#u2347-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#top
{
	left: -100px;
	top: -500px;
	margin-bottom: -18px;
	position: relative;
}

#pu13643
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -480px;
}

#u13643
{
	z-index: 150;
	width: 65px;
	position: relative;
	margin-right: -10000px;
}

#menuu510
{
	z-index: 113;
	width: 533px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 427px;
}

#u539
{
	width: 83px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u540
{
	width: 83px;
	padding-bottom: 18px;
	position: relative;
}

#u540:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u540.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u542-4
{
	width: 50px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u540:hover #u542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u540.MuseMenuActive #u542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u560
{
	width: 79px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u561
{
	width: 79px;
	padding-bottom: 18px;
	position: relative;
}

#u561:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u561.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u562-4
{
	width: 46px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u561:hover #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u561.MuseMenuActive #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u553
{
	width: 88px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#u554
{
	width: 88px;
	padding-bottom: 18px;
	position: relative;
}

#u554:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u554.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u555-4
{
	width: 56px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u554:hover #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u554.MuseMenuActive #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u511
{
	width: 91px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u512
{
	width: 91px;
	padding-bottom: 18px;
	position: relative;
}

#u512:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u512.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u514-4
{
	width: 59px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u512:hover #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u512.MuseMenuActive #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u525
{
	width: 98px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u526
{
	width: 98px;
	padding-bottom: 18px;
	position: relative;
}

#u526:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u526.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u527-4
{
	width: 66px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u526:hover #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u526.MuseMenuActive #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u546
{
	width: 84px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u547
{
	width: 84px;
	padding-bottom: 18px;
	position: relative;
}

#u547:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u547.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u549-4
{
	width: 52px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u547:hover #u549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u547.MuseMenuActive #u549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u15240
{
	z-index: 154;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1220px;
}

#u509
{
	z-index: 111;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1270px;
}

#u737
{
	z-index: 112;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1320px;
}

#u15240:hover,#u509:hover,#u737:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u2345-4
{
	z-index: 4;
	width: 1110px;
	min-height: 92px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 72px;
	color: #FFFFFF;
	letter-spacing: 8px;
	line-height: 86px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 30px;
	top: -296px;
	margin-bottom: -92px;
	position: relative;
}

#u2854-4
{
	z-index: 19;
	width: 1110px;
	min-height: 26px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0px;
	line-height: 22px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 30px;
	top: -204px;
	margin-bottom: -26px;
	position: relative;
}

#u2383
{
	z-index: 8;
	min-height: 1382.7px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
}

#u2383_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
	padding-top: 96px;
	padding-bottom: 71px;
}

#u2853-10
{
	z-index: 9;
	width: 1110px;
	min-height: 187px;
	background-color: transparent;
	font-size: 18px;
	color: #2C2C2C;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	left: 130px;
	position: relative;
}

#u2853-3,#u2853-4,#u2853-6
{
	line-height: 29px;
	text-indent: 8px;
}

#u2853,#u2853-7
{
	line-height: 29px;
}

#u2853-8
{
	line-height: 23px;
}

#u15138
{
	z-index: 23;
	width: 923px;
	min-height: 604px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	left: 222px;
	margin-top: 8px;
	position: relative;
}

#u15143-18
{
	z-index: 24;
	width: 1110px;
	min-height: 187px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	left: 130px;
	margin-top: 85px;
	position: relative;
}

#u15143-2
{
	color: #0019B8;
}

#u15143-12
{
	font-size: 20px;
	line-height: 32px;
	color: #2C2C2C;
	font-weight: 400;
}

#u15143-15
{
	font-size: 18px;
	line-height: 29px;
	color: #0036DC;
	font-weight: 300;
}

#u15143-13
{
	font-size: 1px;
	line-height: 0px;
}

#u16239
{
	z-index: 41;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u16239:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFD81B url("../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u16240
{
	z-index: 43;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u16240:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFD81B url("../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u16241
{
	z-index: 45;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../images/icon_i_03.png") no-repeat center center;
	background-size: contain;
}

#u16241:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFD81B url("../images/icon_i_03.png") no-repeat center center;
	background-size: contain;
}

#u16242
{
	z-index: 47;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../images/icon_mx_02.png") no-repeat center center;
	background-size: contain;
}

#u16242:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFD81B url("../images/icon_mx_02.png") no-repeat center center;
	background-size: contain;
}

#u16243
{
	z-index: 49;
	width: 50px;
	background-color: #F5F5F5;
}

#u16243:hover
{
	background-color: #FFD81B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u16243_img
{
	vertical-align: bottom;
}

#u15143-4,#u15143-5,#u15143-7,#u15143-8,#u15143-9,#u15143-10,#u15143-16
{
	font-size: 18px;
	line-height: 29px;
	color: #2C2C2C;
	font-weight: 300;
}

#u2383-bw
{
	z-index: 8;
	min-height: 1382.7px;
}

#u482
{
	z-index: 53;
	min-height: 196px;
	padding-bottom: 74px;
}

#pu487-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 100px;
}

#u487-4
{
	z-index: 92;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#u489-4
{
	z-index: 100;
	width: 425px;
	min-height: 91px;
	margin-top: 7px;
	position: relative;
}

#pu495-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 960px;
}

#u495-4
{
	z-index: 96;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#pu15210
{
	width: 0.01px;
	margin-top: 27px;
}

#u15210
{
	z-index: 108;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u15210:hover
{
	width: 50px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u496
{
	z-index: 104;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u498
{
	z-index: 105;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u505
{
	z-index: 106;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u501
{
	z-index: 107;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u496:hover,#u498:hover,#u505:hover,#u501:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u482-bw
{
	z-index: 53;
	min-height: 196px;
}

#u485
{
	z-index: 54;
	min-height: 97px;
	padding-bottom: 30px;
}

#u482_align_to_page,#u485_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
}

#u13665
{
	z-index: 152;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#pu3348-31
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 338px;
}

#u3348-31
{
	z-index: 61;
	width: 695px;
	min-height: 21px;
	position: relative;
}

#u486-6
{
	z-index: 55;
	margin-top: 10px;
	position: relative;
}

#u3372
{
	z-index: 110;
	width: 65px;
	height: 65px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1175px;
	background: transparent url("../images/up_01.png") no-repeat center center;
}

#u3372:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
	background: transparent url("../images/up_02.png") no-repeat center center;
}

#u485-bw
{
	z-index: 54;
	min-height: 97px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 20px;
}

