
#u542-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u562-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u555-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u514-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u527-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u549-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u487-4,#u495-4
{
	font-family: exo-n5, sans-serif;
}

#u489-4,#u3348-31
{
	font-family: ubuntu-n3, sans-serif;
}

#u1623-7
{
	font-family: ubuntu-n3, sans-serif;
}

#u1619-4
{
	font-family: exo-n5, sans-serif;
}

#u1620-5
{
	font-family: ubuntu-n3, sans-serif;
}

#u1622-5
{
	font-family: ubuntu-n3, sans-serif;
}

#u16426-7
{
	font-family: ubuntu-n3, sans-serif;
}

#u16429-4
{
	font-family: exo-n5, sans-serif;
}

#u16427-5
{
	font-family: ubuntu-n3, sans-serif;
}

#u16428-5
{
	font-family: ubuntu-n3, sans-serif;
}

#u1601-4,#u1674-5
{
	font-family: exo-n6, sans-serif;
}

#u1674-2
{
	font-family: exo-n2, sans-serif;
}

#u1675-4,#u1685-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u1683-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu1682_input,#widgetu1682_prompt
{
	font-family: ubuntu, sans-serif;
}

#widgetu1677.frm-sub-st #u1678-4 p,#widgetu1677.frm-subm-err-st #u1680-4 p,#widgetu1677.frm-subm-ok-st #u1681-4 p
{
	font-family: ubuntu-n3, sans-serif;
}

