
#u542-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u562-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u555-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u514-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u527-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u549-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u487-4,#u495-4
{
	font-family: exo-n5, sans-serif;
}

#u489-4,#u3348-31
{
	font-family: ubuntu-n3, sans-serif;
}

#u1550-4
{
	font-family: exo-n5, sans-serif;
}

#u15282-3
{
	font-family: exo-n4, sans-serif;
}

#u15282,#u15285-6
{
	font-family: exo-n2, sans-serif;
}

#u15282-6,#u15300-4,#u3111-4,#u3155-4,#u3139-4,#u13757-4,#u13765-4,#u17783-4
{
	font-family: exo-n3, sans-serif;
}

#u1548-4,#u3184-4,#u1994-4,#u3199-4
{
	font-family: exo-n6, sans-serif;
}

#u1552-9,#u3196-4,#u15291-4,#u3187-4,#u3191-4,#u3113-4,#u3158-4,#u3142-4,#u13751-4,#u13764-4,#u17784-4,#u3201-15
{
	font-family: ubuntu-n3, sans-serif;
}

