
#u542-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u562-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u555-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u514-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u527-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u549-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u487-4,#u495-4
{
	font-family: exo-n5, sans-serif;
}

#u489-4,#u3348-31
{
	font-family: ubuntu-n3, sans-serif;
}

#u16094-4
{
	font-family: exo-n6, sans-serif;
}

#u16093-4,#u16099-7,#u16091-7
{
	font-family: ubuntu-n3, sans-serif;
}

