
#u542-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u562-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u555-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u514-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u527-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u549-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u487-4,#u495-4
{
	font-family: exo-n5, sans-serif;
}

#u489-4,#u3348-31
{
	font-family: ubuntu-n3, sans-serif;
}

#u1902-4
{
	font-family: exo-n6, sans-serif;
}

#u1952-7
{
	font-family: ubuntu-n3, sans-serif;
}

#u1943.PamphletThumbSelected #u1951-5 p,#u1943.PamphletThumbSelected #u1951-5 span,#u1962.PamphletThumbSelected #u1974-5 p,#u1962.PamphletThumbSelected #u1974-5 span,#u1951-5
{
	font-family: exo-n4, sans-serif;
}

#u1975-7
{
	font-family: ubuntu-n3, sans-serif;
}

#u1974-5
{
	font-family: exo-n4, sans-serif;
}

#u1919-4,#u16391-4
{
	font-family: exo-n5, sans-serif;
}

