
#u542-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u562-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u555-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u514-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u527-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u549-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u487-4,#u495-4
{
	font-family: exo-n5, sans-serif;
}

#u489-4,#u3348-31
{
	font-family: ubuntu-n3, sans-serif;
}

#u2000-4,#u2002-4,#u2968-4
{
	font-family: exo-n6, sans-serif;
}

#u2997-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u2995-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu2989.frm-sub-st #u2991-4 p,#widgetu2989.frm-subm-err-st #u2993-4 p,#widgetu2989.frm-subm-ok-st #u2990-4 p,#u3000-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u2999-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3003-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3004-4
{
	font-family: ubuntu-n3, sans-serif;
}

#widgetu2994_input,#widgetu2994_prompt,#widgetu2998_input,#widgetu2998_prompt,#widgetu3002_input,#widgetu3002_prompt
{
	font-family: ubuntu, sans-serif;
}

