.version.trailer__1 /* version checker */
{
	color: #0000F6;
	background-color: #B10C52;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 834.9999999999995px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	left: -100px;
	position: relative;
}

#pu2133
{
	width: 0.01px;
	padding-bottom: 500px;
	margin-left: -100px;
	margin-top: -18px;
}

#u2133
{
	z-index: 2;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/6.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u2133-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#u2117
{
	z-index: 3;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/stripe_pattern.png") repeat center center;
}

#u2117-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#pu13643
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -480px;
}

#u13643
{
	z-index: 133;
	width: 65px;
	position: relative;
	margin-right: -10000px;
}

#menuu510
{
	z-index: 96;
	width: 533px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 427px;
}

#u539
{
	width: 83px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u540
{
	width: 83px;
	padding-bottom: 18px;
	position: relative;
}

#u540:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u540.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u542-4
{
	width: 50px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u540:hover #u542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u540.MuseMenuActive #u542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u560
{
	width: 79px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u561
{
	width: 79px;
	padding-bottom: 18px;
	position: relative;
}

#u561:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u561.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u562-4
{
	width: 46px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u561:hover #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u561.MuseMenuActive #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u553
{
	width: 88px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#u554
{
	width: 88px;
	padding-bottom: 18px;
	position: relative;
}

#u554:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u554.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u555-4
{
	width: 56px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u554:hover #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u554.MuseMenuActive #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u511
{
	width: 91px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u512
{
	width: 91px;
	padding-bottom: 18px;
	position: relative;
}

#u512:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u512.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u514-4
{
	width: 59px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u512:hover #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u512.MuseMenuActive #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u525
{
	width: 98px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u526
{
	width: 98px;
	padding-bottom: 18px;
	position: relative;
}

#u526:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u526.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u527-4
{
	width: 66px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u526:hover #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u526.MuseMenuActive #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u546
{
	width: 84px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u547
{
	width: 84px;
	padding-bottom: 18px;
	position: relative;
}

#u547:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u547.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u549-4
{
	width: 52px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u547:hover #u549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u547.MuseMenuActive #u549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u15240
{
	z-index: 137;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1220px;
}

#u509
{
	z-index: 94;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1270px;
}

#u737
{
	z-index: 95;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1320px;
}

#u15240:hover,#u509:hover,#u737:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u2109-4
{
	z-index: 6;
	width: 1110px;
	min-height: 92px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 72px;
	color: #FFFFFF;
	letter-spacing: 6px;
	line-height: 86px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 30px;
	top: -296px;
	margin-bottom: -92px;
	position: relative;
}

#u2694-6
{
	z-index: 10;
	width: 1110px;
	min-height: 26px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 22px;
	color: #FFFFFF;
	letter-spacing: 0px;
	line-height: 26px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 30px;
	top: -204px;
	margin-bottom: -26px;
	position: relative;
}

#pu5470
{
	width: 0.01px;
	margin-left: -100px;
}

#u5470
{
	z-index: 4;
	height: 1025px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u5470-bw
{
	z-index: 4;
	height: 1025px;
}

#u2110
{
	z-index: 5;
	height: 1025px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u2110-bw
{
	z-index: 5;
	height: 1025px;
}

#pamphletu2661
{
	z-index: 16;
	width: 0.01px;
	height: 540px;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 130px;
}

#u2662
{
	z-index: 17;
	width: 1110px;
	position: relative;
	margin-right: -10000px;
}

#u2663
{
	position: absolute;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	background: #1E1E1E url("../images/1-u2663-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2663:hover
{
	width: 255px;
	height: 255px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../images/1-u2663-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u2731
{
	position: absolute;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	left: 285px;
	background: #1E1E1E url("../images/2-u2731-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2731:hover
{
	width: 255px;
	height: 255px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../images/2-u2731-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u2733
{
	position: absolute;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	left: 570px;
	background: #1E1E1E url("../images/3-u2733-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2733:hover
{
	width: 255px;
	height: 255px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../images/3-u2733-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u2735
{
	position: absolute;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	left: 855px;
	background: #1E1E1E url("../images/4-u2735-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2735:hover
{
	width: 255px;
	height: 255px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../images/4-u2735-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u2737
{
	position: absolute;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	top: 285px;
	background: #1E1E1E url("../images/5-u2737-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2737:hover
{
	width: 255px;
	height: 255px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../images/5-u2737-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u2739
{
	position: absolute;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	top: 285px;
	left: 285px;
	background: #1E1E1E url("../images/6-u2739-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2739:hover
{
	width: 255px;
	height: 255px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../images/6-u2739-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u2741
{
	position: absolute;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	top: 285px;
	left: 570px;
	background: #1E1E1E url("../images/7-u2741-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u2741:hover
{
	width: 255px;
	height: 255px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../images/7-u2741-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u2676
{
	position: absolute;
	width: 1067px;
	background-color: #343434;
	background-color: rgba(30,30,30,0.9);
	padding-bottom: 44px;
	top: -150px;
	left: 21px;
	-pie-background: rgba(30,30,30,0.9);
}

#u2676popup
{
	z-index: 25;
}

#u2683
{
	z-index: 26;
	width: 1023px;
	height: 688px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/1.jpg") no-repeat center center;
}

#u2732
{
	z-index: 27;
	width: 1023px;
	height: 688px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/2.jpg") no-repeat center center;
}

#u2734
{
	z-index: 28;
	width: 1023px;
	height: 688px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/3.jpg") no-repeat center center;
}

#u2736
{
	z-index: 29;
	width: 1023px;
	height: 688px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/4.jpg") no-repeat center center;
}

#u2738
{
	z-index: 30;
	width: 1023px;
	height: 688px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/5.jpg") no-repeat center center;
}

#u2740
{
	z-index: 31;
	width: 1023px;
	height: 688px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/6.jpg") no-repeat center center;
}

#u2742
{
	z-index: 32;
	width: 1023px;
	height: 688px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../images/7.jpg") no-repeat center center;
}

#u2691
{
	position: absolute;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	top: 506px;
	left: 1015px;
	background: #FFD81B url("../images/prev_small_arrow.png") no-repeat center center;
}

#u2689
{
	position: absolute;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	top: 456px;
	left: 1015px;
	background: #FFD81B url("../images/next_small_arrow.png") no-repeat center center;
}

#u2675
{
	position: absolute;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	top: -125px;
	left: 1015px;
	background: #FFD81B url("../images/close_button.png") no-repeat center center;
}

#u2675:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFE776 url("../images/close_button-u3671-r-fr.png") no-repeat center center;
	background-color: rgba(255,216,27,0.6);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u482
{
	z-index: 36;
	min-height: 196px;
	padding-bottom: 74px;
}

#pu487-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 100px;
}

#u487-4
{
	z-index: 75;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#u489-4
{
	z-index: 83;
	width: 425px;
	min-height: 91px;
	margin-top: 7px;
	position: relative;
}

#pu495-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 960px;
}

#u495-4
{
	z-index: 79;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#pu15210
{
	width: 0.01px;
	margin-top: 27px;
}

#u15210
{
	z-index: 91;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u15210:hover
{
	width: 50px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u496
{
	z-index: 87;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u498
{
	z-index: 88;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u505
{
	z-index: 89;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u501
{
	z-index: 90;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u496:hover,#u498:hover,#u505:hover,#u501:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u482-bw
{
	z-index: 36;
	min-height: 196px;
}

#u485
{
	z-index: 37;
	min-height: 97px;
	padding-bottom: 30px;
}

#u482_align_to_page,#u485_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
}

#u13665
{
	z-index: 135;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#pu3348-31
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 338px;
}

#u3348-31
{
	z-index: 44;
	width: 695px;
	min-height: 21px;
	position: relative;
}

#u486-6
{
	z-index: 38;
	margin-top: 10px;
	position: relative;
}

#u3384
{
	z-index: 93;
	width: 65px;
	height: 65px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 1175px;
	background: transparent url("../images/up_01.png") no-repeat center center;
}

#u3384:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 31px -10000px 0px 0px;
	background: transparent url("../images/up_02.png") no-repeat center center;
}

#u485-bw
{
	z-index: 37;
	min-height: 97px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 20px;
}

