.version.videos /* version checker */
{
	color: #00001D;
	background-color: #7B22D6;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1170px;
	min-height: 834.6000000000004px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -20px;
	width: 0.01px;/* should not cover content below */
}

#top
{
	left: -100px;
	position: relative;
}

#pu1899
{
	width: 0.01px;
	padding-bottom: 500px;
	margin-left: -100px;
	margin-top: -18px;
}

#u1899
{
	z-index: 2;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/background_08.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u1899-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#u1901
{
	z-index: 3;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../images/stripe_pattern.png") repeat center center;
}

#u1901-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: -20px;
}

#pu13643
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -480px;
}

#u13643
{
	z-index: 150;
	width: 65px;
	position: relative;
	margin-right: -10000px;
}

#menuu510
{
	z-index: 113;
	width: 533px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 427px;
}

#u539
{
	width: 83px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u540
{
	width: 83px;
	padding-bottom: 18px;
	position: relative;
}

#u540:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u540.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u542-4
{
	width: 50px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u540:hover #u542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u540.MuseMenuActive #u542-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u560
{
	width: 79px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 85px;
}

#u561
{
	width: 79px;
	padding-bottom: 18px;
	position: relative;
}

#u561:hover
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u561.MuseMenuActive
{
	width: 77px;
	min-height: 0px;
	margin: 0px;
}

#u562-4
{
	width: 46px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u561:hover #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u561.MuseMenuActive #u562-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u553
{
	width: 88px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 166px;
}

#u554
{
	width: 88px;
	padding-bottom: 18px;
	position: relative;
}

#u554:hover
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u554.MuseMenuActive
{
	width: 86px;
	min-height: 0px;
	margin: 0px;
}

#u555-4
{
	width: 56px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u554:hover #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u554.MuseMenuActive #u555-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 56px;
	margin: 0px -10000px 0px 0px;
}

#u511
{
	width: 91px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u512
{
	width: 91px;
	padding-bottom: 18px;
	position: relative;
}

#u512:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u512.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u514-4
{
	width: 59px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u512:hover #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u512.MuseMenuActive #u514-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u525
{
	width: 98px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 349px;
}

#u526
{
	width: 98px;
	padding-bottom: 18px;
	position: relative;
}

#u526:hover
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u526.MuseMenuActive
{
	width: 96px;
	min-height: 0px;
	margin: 0px;
}

#u527-4
{
	width: 66px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u526:hover #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u526.MuseMenuActive #u527-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 66px;
	margin: 0px -10000px 0px 0px;
}

#u546
{
	width: 84px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 449px;
}

#u547
{
	width: 84px;
	padding-bottom: 18px;
	position: relative;
}

#u547:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u547.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u549-4
{
	width: 52px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 9px;
	left: 16px;
}

#u547:hover #u549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u547.MuseMenuActive #u549-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u15240
{
	z-index: 154;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1220px;
}

#u509
{
	z-index: 111;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1270px;
}

#u737
{
	z-index: 112;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 1320px;
}

#u15240:hover,#u509:hover,#u737:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 8px -10000px 0px 0px;
}

#u1902-4
{
	z-index: 4;
	width: 1110px;
	min-height: 92px;
	background-color: transparent;
	font-size: 72px;
	color: #FFFFFF;
	letter-spacing: 8px;
	line-height: 86px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 30px;
	top: -296px;
	margin-bottom: -92px;
	position: relative;
}

#pu1918
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u1918
{
	z-index: 8;
	min-height: 1351.5000000000002px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F5F5F5;
	padding-bottom: 0px;
}

#u1918_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
	padding-top: 97px;
	padding-bottom: 1159px;
}

#u1919-4
{
	z-index: 9;
	width: 980px;
	min-height: 54px;
	background-color: transparent;
	font-size: 48px;
	color: #0C0B00;
	letter-spacing: 2px;
	line-height: 48px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	left: 195px;
	position: relative;
}

#u1920
{
	z-index: 13;
	width: 140px;
	height: 3px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	left: 615px;
	margin-top: 38px;
	position: relative;
}

#u1918-bw
{
	z-index: 8;
	min-height: 1351.5000000000002px;
}

#pamphletu1936
{
	z-index: 14;
	width: 0.01px;
	height: 958px;
	padding-bottom: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 430px;
}

#u1942
{
	z-index: 15;
	width: 500px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 20px;
}

#u1943
{
	position: absolute;
	width: 500px;
	border-width: 0px;
	border-color: transparent;
	top: 622px;
	left: -20px;
	padding: 18px 20px 22px;
	background: transparent url("../images/trailer.jpg") no-repeat center center;
	background-size: cover;
}

#u1943:hover
{
	width: 500px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/trailer-u16805-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1952-7
{
	z-index: 22;
	width: 500px;
	min-height: 21px;
	background-color: transparent;
	line-height: 21px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1943:hover #u1952-7
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 500px;
	margin: 0px;
}

#u1943.PamphletThumbSelected #u1952-7
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 500px;
	margin: 0px;
}

#u1951-5
{
	z-index: 17;
	width: 500px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	font-size: 26px;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-top: 245px;
	position: relative;
}

#u1943:hover #u1951-5
{
	text-shadow: none;
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 500px;
	margin: 245px 0px 0px;
}

#u1943.PamphletThumbSelected #u1951-5
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 34px;
	width: 500px;
	margin: 245px 0px 0px;
}

#u1962
{
	position: absolute;
	width: 500px;
	border-width: 0px;
	border-color: transparent;
	top: -17px;
	left: -20px;
	padding: 18px 20px 23px;
	background: transparent url("../images/photo_thumb_02.jpg") no-repeat center center;
	background-size: cover;
}

#u1962:hover
{
	width: 500px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/photo_thumb_02-u16802-r-fr.png") no-repeat center center;
	background-size: cover;
}

#u1975-7
{
	z-index: 35;
	width: 500px;
	min-height: 21px;
	background-color: transparent;
	line-height: 21px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u1962:hover #u1975-7
{
	text-shadow: none;
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 500px;
	margin: 0px;
}

#u1962.PamphletThumbSelected #u1975-7
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 500px;
	margin: 0px;
}

#u1952-2,#u1952-3,#u1975-2,#u1975-3
{
	font-weight: 400;
}

#u1974-5
{
	z-index: 30;
	width: 500px;
	min-height: 33px;
	background-color: transparent;
	line-height: 26px;
	font-size: 26px;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 400;
	margin-top: 246px;
	position: relative;
}

#u1962:hover #u1974-5
{
	text-shadow: none;
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 500px;
	margin: 246px 0px 0px;
}

#u1962.PamphletThumbSelected #u1974-5
{
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 33px;
	width: 500px;
	margin: 246px 0px 0px;
}

#u1943.PamphletThumbSelected #u1951-5 p,#u1943.PamphletThumbSelected #u1951-5 span,#u1962.PamphletThumbSelected #u1974-5 p,#u1962.PamphletThumbSelected #u1974-5 span
{
	font-size: 26px;
	font-family: exo, sans-serif;
	font-weight: 400;
	font-style: normal;
}

#u1951,#u1974
{
	color: #FFD81B;
}

#u1938
{
	position: absolute;
	width: 644px;
	background-color: #343434;
	background-color: rgba(30,30,30,0.9);
	padding-bottom: 44px;
	top: -8px;
	left: -89px;
	-pie-background: rgba(30,30,30,0.9);
}

#u1938popup
{
	z-index: 42;
}

#u1939
{
	z-index: 43;
	width: 600px;
	height: 390px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1940
{
	z-index: 44;
	width: 600px;
	min-height: 390px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1965
{
	z-index: 45;
	width: 600px;
	height: 390px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1987
{
	z-index: 46;
	width: 600px;
	min-height: 390px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1937
{
	position: absolute;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	top: -58px;
	left: 208px;
	background: transparent url("../images/close_button.png") no-repeat center center;
}

#u1937:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: transparent url("../images/close_button-u3671-r-fr.png") no-repeat center center;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u16391-4
{
	z-index: 48;
	width: 980px;
	min-height: 54px;
	background-color: transparent;
	font-size: 48px;
	color: #0C0B00;
	letter-spacing: 2px;
	line-height: 48px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	position: relative;
	margin-right: -10000px;
	margin-top: 753px;
	left: 210px;
}

#u16392
{
	z-index: 52;
	width: 140px;
	height: 3px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	position: relative;
	margin-right: -10000px;
	margin-top: 845px;
	left: 630px;
}

#u482
{
	z-index: 53;
	min-height: 196px;
	padding-bottom: 74px;
}

#pu487-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 100px;
}

#u487-4
{
	z-index: 92;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#u489-4
{
	z-index: 100;
	width: 425px;
	min-height: 91px;
	margin-top: 7px;
	position: relative;
}

#pu495-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 960px;
}

#u495-4
{
	z-index: 96;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#pu15210
{
	width: 0.01px;
	margin-top: 27px;
}

#u15210
{
	z-index: 108;
	width: 50px;
	position: relative;
	margin-right: -10000px;
}

#u15210:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u496
{
	z-index: 104;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u498
{
	z-index: 105;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u505
{
	z-index: 106;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u501
{
	z-index: 107;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u496:hover,#u498:hover,#u505:hover,#u501:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u482-bw
{
	z-index: 53;
	min-height: 196px;
}

#u485
{
	z-index: 54;
	min-height: 97px;
	padding-bottom: 30px;
}

#u482_align_to_page,#u485_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	width: 1170px;
	left: -100px;
}

#u13665
{
	z-index: 152;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#pu3348-31
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 338px;
}

#u3348-31
{
	z-index: 61;
	width: 695px;
	min-height: 21px;
	position: relative;
}

#u486-6
{
	z-index: 55;
	margin-top: 10px;
	position: relative;
}

#u3386
{
	z-index: 110;
	width: 65px;
	height: 65px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 1175px;
	background: transparent url("../images/up_01.png") no-repeat center center;
}

#u3386:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
	background: transparent url("../images/up_02.png") no-repeat center center;
}

#u485-bw
{
	z-index: 54;
	min-height: 97px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 1170px;
	padding-top: 20px;
}

