.version.big_day__we_re_online_ /* version checker */
{
	color: #000018;
	background-color: #0065DC;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1101.9504999999995px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#pu6961
{
	width: 0.01px;
	padding-bottom: 350px;
}

#u6961
{
	z-index: 2;
	height: 350px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/holiday-fireworks_blur.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6961-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u6962
{
	z-index: 3;
	height: 350px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/stripe_pattern.png") repeat center center;
}

#u6962-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu6719
{
	z-index: 79;
	width: 0.01px;
	height: 51px;
	position: fixed;
	top: 0px;
	left: 327px;
}

#u6727
{
	position: absolute;
	width: 380px;
	left: -327px;
}

#u6727popup
{
	z-index: 80;
}

#u6728
{
	z-index: 81;
	width: 380px;
	height: 903px;
	margin-right: -10000px;
	position: relative;
}

#menuu6729
{
	z-index: 82;
	width: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 55px;
}

#u6730
{
	width: 271px;
	position: relative;
}

#u6733
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6734-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6733:hover #u6734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6775
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6776-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6733.MuseMenuActive #u6734-4,#u6775:hover #u6776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6780
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6783-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6775.MuseMenuActive #u6776-4,#u6780:hover #u6783-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6740
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6741-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6780.MuseMenuActive #u6783-4,#u6740:hover #u6741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6754
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6756-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6740.MuseMenuActive #u6741-4,#u6754:hover #u6756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6772,#u6779,#u6737,#u6751,#u6758
{
	width: 271px;
	margin-top: 2px;
	position: relative;
}

#u6761
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6733.MuseMenuActive,#u6775.MuseMenuActive,#u6780.MuseMenuActive,#u6740.MuseMenuActive,#u6754.MuseMenuActive,#u6761.MuseMenuActive
{
	width: 271px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u6762-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6754.MuseMenuActive #u6756-4,#u6761:hover #u6762-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6761.MuseMenuActive #u6762-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6723
{
	z-index: 119;
	width: 53px;
	position: relative;
	margin-right: -10000px;
}

#u6724
{
	position: absolute;
	width: 53px;
	height: 51px;
}

#u6724.PamphletThumbSelected
{
	width: 53px;
	height: 51px;
	min-height: 0px;
	margin: 0px;
}

#u6720
{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 3px;
}

#u6963-4
{
	z-index: 4;
	width: 332px;
	min-height: 91px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 4px;
	line-height: 43px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 24px;
	top: -234px;
	margin-bottom: -91px;
	position: relative;
}

#u6967-4
{
	z-index: 19;
	width: 332px;
	min-height: 26px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 12px;
	color: #FFFFFF;
	letter-spacing: 0px;
	line-height: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 24px;
	top: -137px;
	margin-bottom: -26px;
	position: relative;
}

#u6964
{
	z-index: 8;
	min-height: 912px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 54px 24px 153px;
}

#u6965-10
{
	z-index: 9;
	width: 332px;
	min-height: 309px;
	background-color: transparent;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
}

#u6965-3,#u6965-4,#u6965-6
{
	line-height: 22px;
	text-indent: 8px;
	color: #2C2C2C;
}

#u6965,#u6965-7
{
	line-height: 22px;
	color: #2C2C2C;
}

#u6965-8
{
	line-height: 20px;
	color: #1E1E1E;
}

#u15678
{
	z-index: 23;
	width: 332px;
	min-height: 217px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 27px;
	position: relative;
}

#u15686-18
{
	z-index: 24;
	width: 332px;
	min-height: 309px;
	background-color: transparent;
	font-family: ubuntu, sans-serif;
	margin-top: 37px;
	position: relative;
}

#u15686-2
{
	color: #0019B8;
}

#u15686-4,#u15686-5,#u15686-7,#u15686-8,#u15686-9,#u15686-10
{
	font-size: 14px;
	line-height: 22px;
	color: #2C2C2C;
	font-weight: 300;
}

#u15686-12
{
	font-size: 16px;
	line-height: 26px;
	color: #2C2C2C;
	font-weight: 400;
}

#u15686-15
{
	font-size: 14px;
	line-height: 22px;
	color: #0036DC;
	font-weight: 300;
}

#u15686-13
{
	font-size: 1px;
	line-height: 0px;
}

#u16926
{
	z-index: 41;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u16926:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFD81B url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u16927
{
	z-index: 43;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u16927:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFD81B url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u16928
{
	z-index: 45;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../../images/icon_i_03.png") no-repeat center center;
	background-size: contain;
}

#u16928:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFD81B url("../../images/icon_i_03.png") no-repeat center center;
	background-size: contain;
}

#u16929
{
	z-index: 47;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../../images/icon_mx_02.png") no-repeat center center;
	background-size: contain;
}

#u16929:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFD81B url("../../images/icon_mx_02.png") no-repeat center center;
	background-size: contain;
}

#u16930
{
	z-index: 49;
	width: 50px;
	background-color: #F5F5F5;
}

#u16930:hover
{
	background-color: #FFD81B;
	width: 50px;
	min-height: 0px;
	margin: 0px;
}

#u16930_img
{
	vertical-align: bottom;
}

#u15686-16
{
	font-size: 14px;
	line-height: 20px;
	color: #1E1E1E;
	font-weight: 300;
}

#u6964-bw
{
	z-index: 8;
	min-height: 912px;
}

#u6602
{
	z-index: 53;
	min-height: 224px;
	padding: 67px 24px 80px;
}

#u6606-4
{
	z-index: 61;
	width: 332px;
	min-height: 22px;
	position: relative;
}

#u6609-4
{
	z-index: 69;
	width: 332px;
	min-height: 62px;
	margin-top: 10px;
	position: relative;
}

#u6617-4
{
	z-index: 65;
	width: 332px;
	min-height: 22px;
	margin-top: 45px;
	position: relative;
}

#pu16893
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#u16893
{
	z-index: 77;
	width: 50px;
	position: relative;
	margin-right: -10000px;
}

#u16893:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16889
{
	z-index: 73;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u16890
{
	z-index: 74;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u16891
{
	z-index: 75;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u16892
{
	z-index: 76;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u16889:hover,#u16890:hover,#u16891:hover,#u16892:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6602-bw
{
	z-index: 53;
	min-height: 224px;
}

#u6603
{
	z-index: 54;
	min-height: 73px;
	padding-bottom: 26px;
}

#u6604-6
{
	z-index: 55;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 24px;
}

#u6603-bw
{
	z-index: 54;
	min-height: 73px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

