.version.contacts /* version checker */
{
	color: #000018;
	background-color: #2F2241;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1102px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#pu7391
{
	width: 0.01px;
	padding-bottom: 350px;
}

#u7391
{
	z-index: 2;
	height: 350px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/mobile_background_02.jpg") no-repeat center center;
	background-size: cover;
}

.js body.initialized
{
	visibility: visible;
}

#u7391-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u7392
{
	z-index: 3;
	height: 350px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/stripe_pattern.png") repeat center center;
}

#u7392-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu6719
{
	z-index: 127;
	width: 0.01px;
	height: 51px;
	position: fixed;
	top: 0px;
	left: 327px;
}

#u6727
{
	position: absolute;
	width: 380px;
	left: -327px;
}

#u6727popup
{
	z-index: 128;
}

#u6728
{
	z-index: 129;
	width: 380px;
	height: 903px;
	margin-right: -10000px;
	position: relative;
}

#menuu6729
{
	z-index: 130;
	width: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 55px;
}

#u6730
{
	width: 271px;
	position: relative;
}

#u6733
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6734-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6733:hover #u6734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6775
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6776-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6733.MuseMenuActive #u6734-4,#u6775:hover #u6776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6780
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6783-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6775.MuseMenuActive #u6776-4,#u6780:hover #u6783-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6740
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6741-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6780.MuseMenuActive #u6783-4,#u6740:hover #u6741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6754
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6756-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6740.MuseMenuActive #u6741-4,#u6754:hover #u6756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6772,#u6779,#u6737,#u6751,#u6758
{
	width: 271px;
	margin-top: 2px;
	position: relative;
}

#u6761
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6733.MuseMenuActive,#u6775.MuseMenuActive,#u6780.MuseMenuActive,#u6740.MuseMenuActive,#u6754.MuseMenuActive,#u6761.MuseMenuActive
{
	width: 271px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u6762-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6754.MuseMenuActive #u6756-4,#u6761:hover #u6762-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6761.MuseMenuActive #u6762-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6723
{
	z-index: 167;
	width: 53px;
	position: relative;
	margin-right: -10000px;
}

#u6724
{
	position: absolute;
	width: 53px;
	height: 51px;
}

#u6724.PamphletThumbSelected
{
	width: 53px;
	height: 51px;
	min-height: 0px;
	margin: 0px;
}

#u6720
{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 3px;
}

#u7393-4
{
	z-index: 4;
	width: 332px;
	min-height: 47px;
	background-color: transparent;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 4px;
	line-height: 43px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	margin-left: 24px;
	top: -194px;
	margin-bottom: -47px;
	position: relative;
}

#pu7395
{
	width: 0.01px;
}

#u7395
{
	z-index: 8;
	min-height: 699.8499999999999px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 77px 22px 502.1500000000001px 24px;
}

#u7425-4
{
	z-index: 91;
	width: 332px;
	min-height: 29px;
	background-color: transparent;
	font-size: 27px;
	color: #0C0B00;
	letter-spacing: 4px;
	line-height: 27px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	position: relative;
}

#u7426
{
	z-index: 99;
	width: 100px;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	margin-left: 118px;
	margin-top: 16px;
	position: relative;
}

#u7405
{
	z-index: 31;
	width: 68px;
	height: 60px;
	border-width: 0px;
	border-color: transparent;
	margin-left: 134px;
	margin-top: 41px;
	position: relative;
	background: transparent url("../../images/icon_phone_01.png") no-repeat center center;
}

#u7405:hover
{
	width: 68px;
	height: 60px;
	min-height: 0px;
	margin: 41px 0px 0px 134px;
	background: transparent url("../../images/icon_phone_02.png") no-repeat center center;
}

#u7398-8
{
	z-index: 9;
	display: block;
	vertical-align: top;
	margin-left: 18px;
	margin-top: 22px;
	position: relative;
}

#u7407
{
	z-index: 33;
	width: 68px;
	height: 60px;
	border-width: 0px;
	border-color: transparent;
	margin-left: 134px;
	margin-top: 41px;
	position: relative;
	background: transparent url("../../images/icon_mail_01.png") no-repeat center center;
}

#u7407:hover
{
	width: 68px;
	height: 60px;
	min-height: 0px;
	margin: 41px 0px 0px 134px;
	background: transparent url("../../images/icon_mail_02.png") no-repeat center center;
}

#u7399-8
{
	z-index: 17;
	display: block;
	vertical-align: top;
	margin-left: 18px;
	margin-top: 22px;
	position: relative;
}

#u7406
{
	z-index: 32;
	width: 68px;
	height: 60px;
	border-width: 0px;
	border-color: transparent;
	margin-left: 134px;
	margin-top: 52px;
	position: relative;
	background: transparent url("../../images/icon_address_01.png") no-repeat center center;
}

#u7406:hover
{
	width: 68px;
	height: 60px;
	min-height: 0px;
	margin: 52px 0px 0px 134px;
	background: transparent url("../../images/icon_address_02.png") no-repeat center center;
}

#u7400-6
{
	z-index: 25;
	display: block;
	vertical-align: top;
	margin-left: 18px;
	margin-top: 22px;
	position: relative;
}

#u7430-4
{
	z-index: 95;
	width: 332px;
	min-height: 29px;
	background-color: transparent;
	font-size: 29px;
	color: #0C0B00;
	letter-spacing: 3px;
	line-height: 29px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 2px;
	margin-top: 83px;
	position: relative;
}

#u7429
{
	z-index: 100;
	width: 100px;
	height: 2px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	margin-left: 120px;
	margin-top: 15px;
	position: relative;
}

#u7395-bw
{
	z-index: 8;
	min-height: 699.8499999999999px;
}

#widgetu7408
{
	z-index: 34;
	width: 0.01px;
	height: 405px;
	position: relative;
	margin-right: -10000px;
	margin-top: 838px;
	left: 24px;
}

#widgetu7420
{
	z-index: 35;
	width: 336px;
	height: 54px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: -1px;
}

#widgetu7420.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 336px;
	height: 54px;
	min-height: 0px;
	margin: -2px -10000px 0px 0px;
}

#u7423-4
{
	z-index: 36;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 111px;
}

#widgetu7420.fld-err-st #u7423-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 17px -10000px 0px 0px;
}

#u7421-4
{
	z-index: 40;
	width: 300px;
	min-height: 14px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	color: #C4C4C4;
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	padding: 18px 16px;
}

#muse_css_mq,#widgetu7420.non-empty-st #u7421-4
{
	background-color: #FFFFFF;
}

#widgetu7420:hover #u7421-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#widgetu7420.focus-st #u7421-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#widgetu7420.fld-err-st #u7421-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#widgetu7420.non-empty-st #u7421-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7420:hover #u7421-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7420.focus-st #u7421-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#u7417-4
{
	z-index: 44;
	width: 332px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	line-height: 14px;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
}

#widgetu7408.frm-sub-st #u7417-4 p
{
	color: #999999;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u7419-4
{
	z-index: 48;
	width: 332px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 14px;
	font-size: 12px;
	color: #FF0000;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
}

#widgetu7408.frm-subm-err-st #u7419-4 p
{
	color: #D7244C;
	line-height: 1;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u7424-4
{
	z-index: 52;
	width: 332px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 12px;
	font-size: 12px;
	color: #00FF00;
	font-family: Palatino, Palatino Linotype, Georgia, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 380px;
}

#widgetu7408.frm-sub-st #u7417-4,#widgetu7408.frm-subm-err-st #u7419-4,#widgetu7408.frm-subm-ok-st #u7424-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu7408.frm-subm-ok-st #u7424-4 p
{
	color: #999999;
	font-size: 14px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	font-style: normal;
}

#u7418-17
{
	z-index: 56;
	min-height: 50px;
	width: 332px;
	position: relative;
	margin-right: -10000px;
	margin-top: 310px;
	background: url("../../images/u7418-17.png") no-repeat 0px 0px;
}

#u7418-17:hover
{
	background: url("../../images/u7418-17-r.png") no-repeat 0px 0px;
}

#u7418-17:active
{
	background: url("../../images/u7418-17-m.png") no-repeat 0px 0px;
}

#widgetu7408.frm-sub-st #u7418-17
{
	background: url("../../images/u7418-17-fs.png") no-repeat 0px 0px;
}

#widgetu7413
{
	z-index: 73;
	width: 336px;
	height: 107px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: -2px;
}

#widgetu7413.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 336px;
	height: 107px;
	min-height: 0px;
	margin: 15px -10000px 0px 0px;
}

#u7415-4
{
	z-index: 74;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	left: 108px;
}

#widgetu7413.fld-err-st #u7415-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 0px -10000px 0px 0px;
}

#u7414-4
{
	z-index: 78;
	width: 300px;
	min-height: 14px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	color: #C4C4C4;
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	padding: 18px 16px;
}

#widgetu7413.non-empty-st #u7414-4
{
	background-color: #FFFFFF;
}

#widgetu7413:hover #u7414-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 300px;
	margin: 53px -10000px 0px 0px;
}

#widgetu7413.focus-st #u7414-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 300px;
	margin: 53px -10000px 0px 0px;
}

#widgetu7413.fld-err-st #u7414-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 14px;
	width: 300px;
	margin: 53px -10000px 0px 0px;
}

#widgetu7413.non-empty-st #u7414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7413:hover #u7414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7413.focus-st #u7414-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7420_input,#widgetu7420_prompt,#widgetu7413_input,#widgetu7413_prompt
{
	width: 300px;
	min-height: 14px;
	color: #C4C4C4;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	padding: 18px 16px;
}

#widgetu7409
{
	z-index: 82;
	width: 336px;
	height: 154px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: -2px;
}

#widgetu7409.fld-err-st
{
	background-color: transparent;
	border-radius: 0px;
	width: 336px;
	height: 154px;
	min-height: 0px;
	margin: 138px -10000px 0px 0px;
}

#u7412-4
{
	z-index: 83;
	width: 200px;
	min-height: 20px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 14px;
	text-align: left;
	color: #6B6B6B;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 15px;
}

#widgetu7409.fld-err-st #u7412-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	width: 200px;
	margin: 45px -10000px 0px 0px;
}

#widgetu7420.fld-err-st #u7423-4 p,#widgetu7420.fld-err-st #u7423-4 span,#widgetu7413.fld-err-st #u7415-4 p,#widgetu7413.fld-err-st #u7415-4 span,#widgetu7409.fld-err-st #u7412-4 p,#widgetu7409.fld-err-st #u7412-4 span
{
	color: #D7244C;
}

#u7410-4
{
	z-index: 87;
	width: 300px;
	min-height: 114px;
	border-style: solid;
	border-width: 2px;
	border-color: #C4C4C4;
	background-color: #F2F2F2;
	color: #C4C4C4;
	line-height: 14px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	padding: 18px 16px;
}

#widgetu7409.non-empty-st #u7410-4
{
	background-color: #FFFFFF;
}

#widgetu7409:hover #u7410-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#widgetu7409.focus-st #u7410-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#widgetu7409.fld-err-st #u7410-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 18px;
	padding-bottom: 18px;
	min-height: 114px;
	width: 300px;
	margin: 0px -10000px 0px 0px;
}

#widgetu7409.non-empty-st #u7410-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7409:hover #u7410-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7409.focus-st #u7410-4 *
{
	color: #4F4F4F;
	font-style: normal;
}

#widgetu7420.fld-err-st #u7421-4 *,#widgetu7413.fld-err-st #u7414-4 *,#widgetu7409.fld-err-st #u7410-4 *
{
	color: #D7244C;
	font-style: normal;
}

#widgetu7409_input,#widgetu7409_prompt
{
	width: 300px;
	min-height: 114px;
	color: #C4C4C4;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	padding: 18px 16px;
}

#widgetu7420.focus-st #widgetu7420_prompt,#widgetu7413.focus-st #widgetu7413_prompt,#widgetu7409.focus-st #widgetu7409_prompt
{
	padding-top: 18px;
	padding-bottom: 18px;
	visibility: hidden;
}

#widgetu7420:hover #widgetu7420_input,#widgetu7420.focus-st #widgetu7420_input,#widgetu7420.fld-err-st #widgetu7420_input,#widgetu7420:hover #widgetu7420_prompt,#widgetu7420.fld-err-st #widgetu7420_prompt,#widgetu7413:hover #widgetu7413_input,#widgetu7413.focus-st #widgetu7413_input,#widgetu7413.fld-err-st #widgetu7413_input,#widgetu7413:hover #widgetu7413_prompt,#widgetu7413.fld-err-st #widgetu7413_prompt,#widgetu7409:hover #widgetu7409_input,#widgetu7409.focus-st #widgetu7409_input,#widgetu7409.fld-err-st #widgetu7409_input,#widgetu7409:hover #widgetu7409_prompt,#widgetu7409.fld-err-st #widgetu7409_prompt
{
	padding-top: 18px;
	padding-bottom: 18px;
}

.js body,#u7423,#widgetu7420.non-empty-st #widgetu7420_prompt,#u7415,#widgetu7413.non-empty-st #widgetu7413_prompt,#u7412,#widgetu7409.non-empty-st #widgetu7409_prompt
{
	visibility: hidden;
}

#u6602
{
	z-index: 101;
	min-height: 224px;
	padding: 67px 24px 80px;
}

#u6606-4
{
	z-index: 109;
	width: 332px;
	min-height: 22px;
	position: relative;
}

#u6609-4
{
	z-index: 117;
	width: 332px;
	min-height: 62px;
	margin-top: 10px;
	position: relative;
}

#u6617-4
{
	z-index: 113;
	width: 332px;
	min-height: 22px;
	margin-top: 45px;
	position: relative;
}

#pu16893
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#u16893
{
	z-index: 125;
	width: 50px;
	position: relative;
	margin-right: -10000px;
}

#u16893:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16889
{
	z-index: 121;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u16890
{
	z-index: 122;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u16891
{
	z-index: 123;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u16892
{
	z-index: 124;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u16889:hover,#u16890:hover,#u16891:hover,#u16892:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6602-bw
{
	z-index: 101;
	min-height: 224px;
}

#u6603
{
	z-index: 102;
	min-height: 73px;
	padding-bottom: 26px;
}

#u6604-6
{
	z-index: 103;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 24px;
}

#u6603-bw
{
	z-index: 102;
	min-height: 73px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

