
#u6734-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6776-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6783-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6741-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6756-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6762-4
{
	font-family: ubuntu-n4, sans-serif;
}

#u6609-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u6606-4,#u6617-4
{
	font-family: exo-n5, sans-serif;
}

#u7440-4
{
	font-family: exo-n6, sans-serif;
}

#u7441-6
{
	font-family: ubuntu-n3, sans-serif;
}

