.version.trailer__1 /* version checker */
{
	color: #0000F2;
	background-color: #1D23E0;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1101.9505px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
}

#pu7438
{
	width: 0.01px;
	padding-bottom: 350px;
}

#u7438
{
	z-index: 2;
	height: 350px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/6.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u7438-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u7439
{
	z-index: 3;
	height: 350px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/stripe_pattern.png") repeat center center;
}

#u7439-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pamphletu6719
{
	z-index: 55;
	width: 0.01px;
	height: 51px;
	position: fixed;
	top: 0px;
	left: 327px;
}

#u6727
{
	position: absolute;
	width: 380px;
	left: -327px;
}

#u6727popup
{
	z-index: 56;
}

#u6728
{
	z-index: 57;
	width: 380px;
	height: 903px;
	margin-right: -10000px;
	position: relative;
}

#menuu6729
{
	z-index: 58;
	width: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 55px;
}

#u6730
{
	width: 271px;
	position: relative;
}

#u6733
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6734-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6733:hover #u6734-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6775
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6776-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6733.MuseMenuActive #u6734-4,#u6775:hover #u6776-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6780
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6783-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6775.MuseMenuActive #u6776-4,#u6780:hover #u6783-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6740
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6741-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6780.MuseMenuActive #u6783-4,#u6740:hover #u6741-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6754
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6756-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6740.MuseMenuActive #u6741-4,#u6754:hover #u6756-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6772,#u6779,#u6737,#u6751,#u6758
{
	width: 271px;
	margin-top: 2px;
	position: relative;
}

#u6761
{
	width: 271px;
	min-height: 22px;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6733.MuseMenuActive,#u6775.MuseMenuActive,#u6780.MuseMenuActive,#u6740.MuseMenuActive,#u6754.MuseMenuActive,#u6761.MuseMenuActive
{
	width: 271px;
	min-height: 22px;
	margin: 0px -10000px 0px 0px;
}

#u6762-4
{
	width: 271px;
	min-height: 22px;
	position: relative;
	margin-right: -10000px;
	top: 15px;
}

#u6754.MuseMenuActive #u6756-4,#u6761:hover #u6762-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6761.MuseMenuActive #u6762-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 271px;
	margin: 0px -10000px 0px 0px;
}

#u6723
{
	z-index: 95;
	width: 53px;
	position: relative;
	margin-right: -10000px;
}

#u6724
{
	position: absolute;
	width: 53px;
	height: 51px;
}

#u6724.PamphletThumbSelected
{
	width: 53px;
	height: 51px;
	min-height: 0px;
	margin: 0px;
}

#u6720
{
	position: absolute;
	width: 50px;
	height: 50px;
	left: 3px;
}

#u7440-4
{
	z-index: 4;
	width: 367px;
	min-height: 46px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 30px;
	color: #FFFFFF;
	letter-spacing: 6px;
	line-height: 36px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 6px;
	top: -206px;
	margin-bottom: -46px;
	position: relative;
}

#u7441-6
{
	z-index: 8;
	width: 155px;
	min-height: 26px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 13px;
	color: #FFFFFF;
	letter-spacing: 0px;
	line-height: 16px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 112px;
	top: -152px;
	margin-bottom: -26px;
	position: relative;
}

#u17226
{
	z-index: 14;
	min-height: 1923.9462159434916px;
	background-color: #F5F5F5;
	padding: 19px 7px 41.05378405650845px;
}

#u17229
{
	z-index: 15;
	width: 366px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u17236
{
	z-index: 17;
	width: 366px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u17243
{
	z-index: 19;
	width: 366px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#u17250
{
	z-index: 21;
	width: 366px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u17257
{
	z-index: 23;
	width: 366px;
	background-color: transparent;
	left: -1px;
	margin-top: 38px;
	position: relative;
}

#u17264
{
	z-index: 25;
	width: 366px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u17271
{
	z-index: 27;
	width: 366px;
	background-color: transparent;
	margin-top: 25px;
	position: relative;
}

#u17226-bw
{
	z-index: 14;
	min-height: 1923.9462159434916px;
}

#u6602
{
	z-index: 29;
	min-height: 224px;
	padding: 67px 24px 80px;
}

#u6606-4
{
	z-index: 37;
	width: 332px;
	min-height: 22px;
	position: relative;
}

#u6609-4
{
	z-index: 45;
	width: 332px;
	min-height: 62px;
	margin-top: 10px;
	position: relative;
}

#u6617-4
{
	z-index: 41;
	width: 332px;
	min-height: 22px;
	margin-top: 45px;
	position: relative;
}

#pu16893
{
	width: 0.01px;
	margin-top: 13px;
	position: relative;
}

#u16893
{
	z-index: 53;
	width: 50px;
	position: relative;
	margin-right: -10000px;
}

#u16893:hover
{
	width: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u16889
{
	z-index: 49;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u16890
{
	z-index: 50;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 127px;
}

#u16891
{
	z-index: 51;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u16892
{
	z-index: 52;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u16889:hover,#u16890:hover,#u16891:hover,#u16892:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u6602-bw
{
	z-index: 29;
	min-height: 224px;
}

#u6603
{
	z-index: 30;
	min-height: 73px;
	padding-bottom: 26px;
}

#u6604-6
{
	z-index: 31;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 24px;
}

#u6603-bw
{
	z-index: 30;
	min-height: 73px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 380px;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

