.version._404 /* version checker */
{
	color: #0000F7;
	background-color: #45F799;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1020px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#top
{
	position: relative;
}

#pu5433
{
	width: 0.01px;
	padding-bottom: 799px;
	margin-top: -18px;
}

#u5433
{
	z-index: 2;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/background_01.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5433-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u5434
{
	z-index: 3;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/gradient_for_home.png") repeat-x center center;
}

#u5434-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u5435
{
	z-index: 4;
	height: 799px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/stripe_pattern.png") repeat center center;
}

#u5435-bw
{
	z-index: 4;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pu14541
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: -779px;
}

#u14541
{
	z-index: 119;
	width: 65px;
	position: relative;
	margin-right: -10000px;
}

#menuu3533
{
	z-index: 82;
	width: 498px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 242px;
}

#u3562
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3565
{
	width: 78px;
	padding-bottom: 21px;
	position: relative;
}

#u3565:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u3568-4
{
	width: 45px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3565:hover #u3568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u3565.MuseMenuActive #u3568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u3569
{
	width: 74px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u3570
{
	width: 74px;
	padding-bottom: 21px;
	position: relative;
}

#u3570:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3570.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3573-4
{
	width: 41px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3570:hover #u3573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u3570.MuseMenuActive #u3573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u3583
{
	width: 83px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u3584
{
	width: 83px;
	padding-bottom: 21px;
	position: relative;
}

#u3584:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3584.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3587-4
{
	width: 50px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3584:hover #u3587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3584.MuseMenuActive #u3587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3576
{
	width: 84px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u3579
{
	width: 84px;
	padding-bottom: 21px;
	position: relative;
}

#u3579:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3579.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3582-4
{
	width: 52px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3579:hover #u3582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u3579.MuseMenuActive #u3582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u3534
{
	width: 91px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u3535
{
	width: 91px;
	padding-bottom: 21px;
	position: relative;
}

#u3535:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u3535.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u3538-4
{
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3535:hover #u3538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u3535.MuseMenuActive #u3538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u15904
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u15907
{
	width: 78px;
	padding-bottom: 21px;
	position: relative;
}

#u3565.MuseMenuActive,#u15907:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u15907.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u15909-4
{
	width: 46px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u15907:hover #u15909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u15907.MuseMenuActive #u15909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u15874
{
	z-index: 121;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 833px;
}

#u3530
{
	z-index: 80;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 883px;
}

#u15874:hover,#u3530:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u3532
{
	z-index: 81;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 933px;
}

#u3532:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u5438-4
{
	z-index: 12;
	width: 75px;
	min-height: 33px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	margin-left: 475px;
	top: -556px;
	margin-bottom: -33px;
	position: relative;
}

#u5438-2
{
	padding-top: 6px;
}

#u5437-7
{
	z-index: 5;
	width: 790px;
	min-height: 200px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	font-size: 96px;
	color: #FFFFFF;
	letter-spacing: 6px;
	line-height: 96px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 118px;
	top: -512px;
	margin-bottom: -200px;
	position: relative;
}

#u5437
{
	color: #FFD81B;
}

#u5439-4
{
	z-index: 16;
	width: 160px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	line-height: 16px;
	font-size: 16px;
	text-align: center;
	color: #0C0B00;
	font-family: ubuntu, sans-serif;
	font-weight: 400;
	margin-left: 433px;
	top: -234px;
	margin-bottom: -50px;
	position: relative;
}

#u5439-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	width: 160px;
	margin: 0px 0px -50px 433px;
}

#u5439-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u5439-2
{
	padding-top: 16px;
}

#u3851
{
	z-index: 20;
	min-height: 188px;
	padding-bottom: 65px;
}

#pu3855-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 67px;
}

#u3855-4
{
	z-index: 59;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#u3858-4
{
	z-index: 67;
	width: 285px;
	min-height: 62px;
	margin-top: 30px;
	position: relative;
}

#pu3857-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 640px;
}

#u3857-4
{
	z-index: 63;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#pu16314
{
	width: 0.01px;
	margin-top: 35px;
}

#u16314
{
	z-index: 77;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u16314:hover
{
	width: 50px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u16310
{
	z-index: 73;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u16311
{
	z-index: 74;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u16312
{
	z-index: 75;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u16313
{
	z-index: 76;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u16310:hover,#u16311:hover,#u16312:hover,#u16313:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-bw
{
	z-index: 20;
	min-height: 188px;
	margin-top: 190px;
}

#u3852
{
	z-index: 21;
	min-height: 97px;
	padding-bottom: 30px;
}

#u14555
{
	z-index: 71;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 20px;
}

#pu3854-31
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 165px;
}

#u3854-31
{
	z-index: 28;
	width: 695px;
	min-height: 21px;
	position: relative;
}

#u3853-6
{
	z-index: 22;
	margin-top: 10px;
	position: relative;
}

#u5441
{
	z-index: 79;
	width: 65px;
	height: 65px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 939px;
	background: transparent url("../../images/up_01.png") no-repeat center center;
}

#u5441:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
	background: transparent url("../../images/up_02.png") no-repeat center center;
}

#u3852-bw
{
	z-index: 21;
	min-height: 97px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 1024px;
}

@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

@viewport
{
	width: 1024px;
}

