.version.about /* version checker */
{
	color: #000014;
	background-color: #1D1A7C;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1020px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#top
{
	position: relative;
}

#pu4373
{
	width: 0.01px;
	padding-bottom: 500px;
	margin-top: -18px;
}

#u4373
{
	z-index: 2;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/background_04.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u4373-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u4374
{
	z-index: 3;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/stripe_pattern.png") repeat center center;
}

#u4374-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pu14541
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: -480px;
}

#u14541
{
	z-index: 281;
	width: 65px;
	position: relative;
	margin-right: -10000px;
}

#menuu3533
{
	z-index: 244;
	width: 498px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 242px;
}

#u3562
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3565
{
	width: 78px;
	padding-bottom: 21px;
	position: relative;
}

#u3565:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u3568-4
{
	width: 45px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3565:hover #u3568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u3565.MuseMenuActive #u3568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u3569
{
	width: 74px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u3570
{
	width: 74px;
	padding-bottom: 21px;
	position: relative;
}

#u3570:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3570.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3573-4
{
	width: 41px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3570:hover #u3573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u3570.MuseMenuActive #u3573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u3583
{
	width: 83px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u3584
{
	width: 83px;
	padding-bottom: 21px;
	position: relative;
}

#u3584:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3584.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3587-4
{
	width: 50px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3584:hover #u3587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3584.MuseMenuActive #u3587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3576
{
	width: 84px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u3579
{
	width: 84px;
	padding-bottom: 21px;
	position: relative;
}

#u3579:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3579.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3582-4
{
	width: 52px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3579:hover #u3582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u3579.MuseMenuActive #u3582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u3534
{
	width: 91px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u3535
{
	width: 91px;
	padding-bottom: 21px;
	position: relative;
}

#u3535:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u3535.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u3538-4
{
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3535:hover #u3538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u3535.MuseMenuActive #u3538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u15904
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u15907
{
	width: 78px;
	padding-bottom: 21px;
	position: relative;
}

#u3565.MuseMenuActive,#u15907:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u15907.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u15909-4
{
	width: 46px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u15907:hover #u15909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u15907.MuseMenuActive #u15909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u15874
{
	z-index: 283;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 833px;
}

#u3530
{
	z-index: 242;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 883px;
}

#u15874:hover,#u3530:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u3532
{
	z-index: 243;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 933px;
}

#u3532:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u4375-4
{
	z-index: 4;
	width: 795px;
	min-height: 92px;
	background-color: transparent;
	font-size: 76px;
	color: #FFFFFF;
	letter-spacing: 6px;
	line-height: 91px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 115px;
	top: -296px;
	margin-bottom: -92px;
	position: relative;
}

#u4376
{
	z-index: 8;
	min-height: 451.79999999999995px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 93px 52px 60.200000000000045px;
}

#u4379-4
{
	z-index: 9;
	width: 698px;
	min-height: 54px;
	background-color: transparent;
	font-size: 48px;
	color: #0C0B00;
	letter-spacing: 6px;
	line-height: 48px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	margin-left: 111px;
	position: relative;
}

#u4380
{
	z-index: 13;
	width: 140px;
	height: 3px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	margin-left: 390px;
	margin-top: 17px;
	position: relative;
}

#u4381-9
{
	z-index: 14;
	width: 920px;
	min-height: 316px;
	background-color: transparent;
	font-size: 16px;
	color: #2C2C2C;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 62px;
	position: relative;
}

#u4381-2,#u4381-5
{
	line-height: 27px;
}

#u4381-3,#u4381-6,#u4381-7
{
	line-height: 26px;
}

#u4376-bw
{
	z-index: 8;
	min-height: 451.79999999999995px;
}

#pslideshowu4383
{
	width: 0.01px;
}

#slideshowu4383
{
	z-index: 23;
	width: 0.01px;
	height: 481px;
	position: relative;
	margin-right: -10000px;
}

#u4385
{
	position: absolute;
	width: 1024px;
	height: 481px;
	background-color: transparent;
}

#u4385popup
{
	z-index: 24;
}

#u4386
{
	z-index: 25;
	width: 1024px;
	height: 481px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4388
{
	z-index: 27;
	width: 1024px;
	height: 481px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u4390
{
	z-index: 29;
	width: 1024px;
	height: 481px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../../images/loading.gif") no-repeat center center;
}

#u4411
{
	z-index: 31;
	min-height: 377.9000000000001px;
	border-width: 0px;
	border-color: transparent;
	padding-left: 31px;
	padding-top: 103px;
	padding-bottom: 0px;
	background: transparent url("../../images/stripe_pattern.png") repeat center center;
}

#u4436-4
{
	z-index: 32;
	width: 698px;
	min-height: 54px;
	background-color: transparent;
	font-size: 48px;
	color: #FFFFFF;
	letter-spacing: 3px;
	line-height: 48px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	margin-left: 132px;
	position: relative;
}

#u4437
{
	z-index: 36;
	width: 140px;
	height: 3px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	margin-left: 411px;
	margin-top: 17px;
	position: relative;
}

#u15820-6
{
	z-index: 120;
	width: 698px;
	min-height: 54px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 2px;
	line-height: 16px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 300;
	margin-left: 132px;
	margin-top: 39px;
	position: relative;
}

#u15820
{
	font-family: exo, sans-serif;
	font-weight: 200;
}

#u15820-3
{
	text-transform: uppercase;
	font-family: exo, sans-serif;
	font-weight: 400;
}

#pu15838
{
	width: 0.01px;
	position: relative;
}

#u15838
{
	z-index: 138;
	width: 194px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u15839
{
	z-index: 139;
	width: 194px;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u15840-4
{
	z-index: 140;
	width: 194px;
	min-height: 43px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 36px;
	color: #0C0B00;
	letter-spacing: 0px;
	text-transform: none;
	line-height: 36px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u15841
{
	z-index: 144;
	width: 212px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 225px;
}

#u15843
{
	z-index: 145;
	width: 212px;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u15842-4
{
	z-index: 146;
	width: 212px;
	min-height: 47px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 36px;
	color: #0C0B00;
	letter-spacing: 0px;
	line-height: 36px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u15832
{
	z-index: 126;
	width: 255px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 490px;
}

#u15833
{
	z-index: 127;
	width: 255px;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u15834-4
{
	z-index: 128;
	width: 255px;
	min-height: 46px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 36px;
	color: #0C0B00;
	letter-spacing: 0px;
	line-height: 36px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u15835
{
	z-index: 132;
	width: 153px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 789px;
}

#u15836
{
	z-index: 133;
	width: 153px;
	-pie-box-shadow: 6px 6px 8px #CCCCCC;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
}

#u15837-4
{
	z-index: 134;
	width: 153px;
	min-height: 41px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.2);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 36px;
	color: #0C0B00;
	letter-spacing: 0px;
	line-height: 36px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u15868-4
{
	z-index: 150;
	width: 155px;
	min-height: 27px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 200;
	margin-left: 404px;
	margin-top: 41px;
	position: relative;
}

#u15869-4
{
	z-index: 154;
	width: 152px;
	min-height: 15px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	line-height: 12px;
	font-size: 10px;
	color: #FFFFFF;
	font-family: exo, sans-serif;
	font-weight: 200;
	margin-left: 841px;
	margin-top: 68px;
	position: relative;
}

#u4411-bw
{
	z-index: 31;
	min-height: 377.9000000000001px;
}

#u14842
{
	z-index: 58;
	min-height: 508px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F5F5F5;
	padding: 68px 28px 67px 72px;
}

#u14844-4
{
	z-index: 60;
	width: 698px;
	min-height: 54px;
	background-color: transparent;
	font-size: 48px;
	color: #0C0B00;
	letter-spacing: 8px;
	line-height: 48px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 102px;
	position: relative;
}

#u14845
{
	z-index: 64;
	width: 140px;
	height: 3px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	margin-left: 381px;
	margin-top: 17px;
	position: relative;
}

#ppu14846
{
	width: 0.01px;
	margin-top: 36px;
	position: relative;
}

#pu14846
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 303px;
}

#u14846
{
	z-index: 65;
	width: 295px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14849
{
	z-index: 66;
	width: 255px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 20px 38px;
}

#u14847
{
	z-index: 67;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: #1E1E1E url("../../images/peter.jpg") no-repeat center center;
	background-size: cover;
}

#u14853-4
{
	z-index: 68;
	width: 255px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #0C0B00;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
}

#u14848-4
{
	z-index: 72;
	width: 255px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #1E1E1E;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u17653
{
	z-index: 161;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 82px;
	background: #FFD81B url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u17654
{
	z-index: 162;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 142px;
	background: #FFD81B url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u14854
{
	z-index: 76;
	width: 295px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 629px;
}

#u14861
{
	z-index: 77;
	width: 255px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 20px 38px;
}

#u14858
{
	z-index: 78;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: #1E1E1E url("../../images/pandu.jpg") no-repeat center center;
	background-size: cover;
}

#u14860-4
{
	z-index: 79;
	width: 255px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #0C0B00;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
}

#u14857-4
{
	z-index: 83;
	width: 255px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #1E1E1E;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u14862
{
	z-index: 87;
	width: 255px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14865
{
	z-index: 88;
	width: 255px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 16px;
	padding-bottom: 38.09999999999968px;
	position: relative;
	margin-right: -10000px;
}

#u14869
{
	z-index: 89;
	width: 212px;
	height: 260px;
	border-width: 0px;
	border-color: transparent;
	margin-left: 22px;
	position: relative;
	background: #1E1E1E url("../../images/mjd.jpg") no-repeat center center;
	background-size: cover;
}

#u14864-4
{
	z-index: 90;
	width: 255px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #0C0B00;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 9px;
	position: relative;
}

#u14868-4
{
	z-index: 94;
	width: 255px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #1E1E1E;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u17644
{
	z-index: 158;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 42px;
	background: #FFD81B url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u17645
{
	z-index: 159;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 103px;
	background: #FFD81B url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u17646
{
	z-index: 160;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 162px;
	background: #FFD81B url("../../images/icon_i_03.png") no-repeat center center;
	background-size: contain;
}

#u17659
{
	z-index: 163;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 721px;
	background: #FFD81B url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u17660
{
	z-index: 164;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 781px;
	background: #FFD81B url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u14842-bw
{
	z-index: 58;
	min-height: 508px;
}

#u14843
{
	z-index: 59;
	min-height: 527px;
	border-width: 0px;
	border-color: transparent;
	background-color: #F5F5F5;
	padding-bottom: 197px;
}

#pu14870
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 129px;
	margin-left: 52px;
}

#u14870
{
	z-index: 98;
	width: 295px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14872
{
	z-index: 99;
	width: 255px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 20px 20px 38px;
}

#u14871
{
	z-index: 100;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: #1E1E1E url("../../images/adil.jpg") no-repeat center center;
	background-size: cover;
}

#u14877-4
{
	z-index: 101;
	width: 255px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #0C0B00;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
}

#u14873-4
{
	z-index: 105;
	width: 255px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #1E1E1E;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u17665
{
	z-index: 165;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 220px;
	background: #FFD81B url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u17666
{
	z-index: 166;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 280px;
	background: #FFD81B url("../../images/icon_i_03.png") no-repeat center center;
	background-size: contain;
}

#u17646:hover,#u17666:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 348px -10000px 0px 0px;
	background: #0C0B00 url("../../images/icon_i_02.png") no-repeat center center;
	background-size: contain;
}

#pu14878
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 130px;
	margin-left: 392px;
}

#u14878
{
	z-index: 109;
	width: 295px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u14879
{
	z-index: 110;
	width: 255px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 18px 20px 40px;
}

#u14881
{
	z-index: 111;
	width: 255px;
	height: 255px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	background: #1E1E1E url("../../images/himanshu.jpg") no-repeat center center;
	background-size: cover;
}

#u14884-4
{
	z-index: 112;
	width: 255px;
	min-height: 34px;
	background-color: transparent;
	line-height: 29px;
	font-size: 24px;
	text-align: center;
	color: #0C0B00;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 10px;
	position: relative;
}

#u14883-4
{
	z-index: 116;
	width: 255px;
	min-height: 18px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	text-align: center;
	color: #1E1E1E;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u17671
{
	z-index: 167;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	left: 270px;
	background: #FFD81B url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u17653:hover,#u17644:hover,#u17659:hover,#u17665:hover,#u17671:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 348px -10000px 0px 0px;
	background: #0C0B00 url("../../images/icon_fb_03.png") no-repeat center center;
	background-size: contain;
}

#pu17672
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 129px;
	margin-left: 723px;
}

#u17672
{
	z-index: 168;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 348px;
	background: #FFD81B url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u17654:hover,#u17645:hover,#u17660:hover,#u17672:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 348px -10000px 0px 0px;
	background: #0C0B00 url("../../images/icon_tw_03.png") no-repeat center center;
	background-size: contain;
}

#u17890
{
	z-index: 169;
	width: 262px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u17890_position_content
{
	margin-bottom: -25px;
	padding-top: 9px;
	width: 100%;
}

#u17893
{
	z-index: 178;
	width: 205px;
	background-color: transparent;
	margin-left: 29px;
	position: relative;
}

#u17891-4
{
	z-index: 170;
	width: 248px;
	min-height: 34px;
	background-color: transparent;
	line-height: 26px;
	font-size: 22px;
	text-align: center;
	color: #0C0B00;
	font-family: exo, sans-serif;
	font-weight: 300;
	margin-left: 7px;
	margin-top: 6px;
	position: relative;
}

#u17892-4
{
	z-index: 174;
	width: 226px;
	min-height: 18px;
	background-color: transparent;
	font-size: 14px;
	text-align: center;
	color: #1E1E1E;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 18px;
	position: relative;
}

#pu17895
{
	width: 0.01px;
	margin-left: 94px;
	margin-top: 13px;
}

#u17895
{
	z-index: 180;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFD81B url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u17895:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #0C0B00 url("../../images/icon_fb_03.png") no-repeat center center;
	background-size: contain;
}

#u17896
{
	z-index: 181;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 60px;
	background: #FFD81B url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u17896:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
	background: #0C0B00 url("../../images/icon_tw_03.png") no-repeat center center;
	background-size: contain;
}

#u14843-bw
{
	z-index: 59;
	min-height: 527px;
}

#u4450
{
	z-index: 37;
	min-height: 409.8000000000002px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
	padding: 76px 52px 87.19999999999982px;
}

#u4451-4
{
	z-index: 38;
	width: 698px;
	min-height: 54px;
	background-color: transparent;
	font-size: 48px;
	color: #0C0B00;
	letter-spacing: 8px;
	line-height: 48px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 600;
	margin-left: 111px;
	position: relative;
}

#u4452
{
	z-index: 42;
	width: 140px;
	height: 3px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFD81B;
	margin-left: 390px;
	margin-top: 17px;
	position: relative;
}

#u4453-15
{
	z-index: 43;
	width: 920px;
	min-height: 274px;
	background-color: transparent;
	font-size: 16px;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-top: 62px;
	position: relative;
}

#u4453-12 > li:before
{
	content: '•';
}

#u4453-2,#u4453-5,#u4453-7,#u4453-9,#u4453-11
{
	line-height: 38px;
	color: #2C2C2C;
}

#u4453-13
{
	line-height: 22px;
	color: #1E1E1E;
}

#u4450-bw
{
	z-index: 37;
	min-height: 409.8000000000002px;
}

#u3851
{
	z-index: 182;
	min-height: 188px;
	padding-bottom: 65px;
}

#pu3855-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 67px;
}

#u3855-4
{
	z-index: 221;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#u3858-4
{
	z-index: 229;
	width: 285px;
	min-height: 62px;
	margin-top: 30px;
	position: relative;
}

#pu3857-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 640px;
}

#u3857-4
{
	z-index: 225;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#pu16314
{
	width: 0.01px;
	margin-top: 35px;
}

#u16314
{
	z-index: 239;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u16314:hover
{
	width: 50px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u16310
{
	z-index: 235;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 68px;
}

#u16311
{
	z-index: 236;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u16312
{
	z-index: 237;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u16313
{
	z-index: 238;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u16310:hover,#u16311:hover,#u16312:hover,#u16313:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-bw
{
	z-index: 182;
	min-height: 188px;
}

#u3852
{
	z-index: 183;
	min-height: 97px;
	padding-bottom: 30px;
}

#u14555
{
	z-index: 233;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 20px;
}

#pu3854-31
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 165px;
}

#u3854-31
{
	z-index: 190;
	width: 695px;
	min-height: 21px;
	position: relative;
}

#u3853-6
{
	z-index: 184;
	margin-top: 10px;
	position: relative;
}

#u5442
{
	z-index: 241;
	width: 65px;
	height: 65px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	left: 939px;
	background: transparent url("../../images/up_01.png") no-repeat center center;
}

#u5442:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 30px -10000px 0px 0px;
	background: transparent url("../../images/up_02.png") no-repeat center center;
}

#u3852-bw
{
	z-index: 183;
	min-height: 97px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 1024px;
}

@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

@viewport
{
	width: 1024px;
}

