
#u3568-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3573-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3587-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3582-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3538-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u15909-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3855-4,#u3857-4
{
	font-family: exo-n5, sans-serif;
}

#u3858-4,#u3854-31
{
	font-family: ubuntu-n3, sans-serif;
}

#u4647-4
{
	font-family: exo-n6, sans-serif;
}

#u4651-4,#u4649-10,#u4650-18
{
	font-family: ubuntu-n3, sans-serif;
}

