
#u3568-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3573-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3587-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3582-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3538-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u15909-4
{
	font-family: ubuntu-n3, sans-serif;
}

#u3855-4,#u3857-4
{
	font-family: exo-n5, sans-serif;
}

#u3858-4,#u3854-31
{
	font-family: ubuntu-n3, sans-serif;
}

#u4379-4,#u4436-4
{
	font-family: exo-n5, sans-serif;
}

#u15820-3
{
	font-family: exo-n4, sans-serif;
}

#u15820,#u15868-4,#u15869-4
{
	font-family: exo-n2, sans-serif;
}

#u15820-6,#u17891-4
{
	font-family: exo-n3, sans-serif;
}

#u4375-4,#u14844-4,#u4451-4
{
	font-family: exo-n6, sans-serif;
}

#u4381-9,#u15840-4,#u15842-4,#u15834-4,#u15837-4,#u14853-4,#u14848-4,#u14860-4,#u14857-4,#u14864-4,#u14868-4,#u14877-4,#u14873-4,#u14884-4,#u14883-4,#u17892-4,#u4453-15
{
	font-family: ubuntu-n3, sans-serif;
}

