#menuu3533,#u3565
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3565:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFD81B;
}

#u3568-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3570
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3565.MuseMenuActive,#u3570:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFD81B;
}

#u3573-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3584
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3570.MuseMenuActive,#u3584:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFD81B;
}

#u3587-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3579
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3584.MuseMenuActive,#u3579:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFD81B;
}

#u3582-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3535
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3579.MuseMenuActive,#u3535:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFD81B;
}

#u3538-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u15907
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u3535.MuseMenuActive,#u15907:hover
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFD81B;
}

#u15907.MuseMenuActive
{
	border-style: solid;
	border-width: 1px;
	border-color: #FFD81B;
}

#u15909-4
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	text-align: center;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

#u15874
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/youtube__s3.png") no-repeat center center;
	background-size: contain;
}

#u15874:hover
{
	background: transparent url("../../images/youtube__s2.png") no-repeat center center;
	background-size: contain;
}

#u3530
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/icon_fb_01.png") no-repeat center center;
	background-size: contain;
}

#u3530:hover
{
	background: transparent url("../../images/icon_fb_03.png") no-repeat center center;
	background-size: contain;
}

#u3532
{
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/icon_mx_01.png") no-repeat center center;
	background-size: contain;
}

#u3532:hover
{
	background: transparent url("../../images/icon_mx_03.png") no-repeat center center;
	background-size: contain;
}

#u3851
{
	border-width: 0px;
	border-color: transparent;
	background-color: #1E1E1E;
}

#u3858-4
{
	background-color: transparent;
	line-height: 17px;
	font-size: 12px;
	color: #F5F5F5;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3855-4,#u3857-4
{
	background-color: transparent;
	line-height: 18px;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-family: exo, sans-serif;
	font-weight: 500;
}

#u16314
{
	background-color: #FFFFFF;
}

#u16314:hover
{
	background-color: #FFD81B;
}

#u16310
{
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u16310:hover
{
	background: #FFD81B url("../../images/icon_fb_02.png") no-repeat center center;
	background-size: contain;
}

#u16311
{
	border-width: 0px;
	border-color: transparent;
	background: #FFFFFF url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u16311:hover
{
	background: #FFD81B url("../../images/icon_tw_02.png") no-repeat center center;
	background-size: contain;
}

#u16312
{
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../../images/icon_i_03.png") no-repeat center center;
	background-size: contain;
}

#u16312:hover
{
	background: #FFD81B url("../../images/icon_i_03.png") no-repeat center center;
	background-size: contain;
}

#u16313
{
	border-width: 0px;
	border-color: transparent;
	background: #F5F5F5 url("../../images/icon_mx_02.png") no-repeat center center;
	background-size: contain;
}

#u16313:hover
{
	background: #FFD81B url("../../images/icon_mx_02.png") no-repeat center center;
	background-size: contain;
}

#u3852
{
	border-width: 0px;
	border-color: transparent;
	background-color: #0C0B00;
}

#u14541,#u3562,#u3569,#u3583,#u3576,#u3534,#u15904,#u14555
{
	background-color: transparent;
}

#u3854-31
{
	background-color: transparent;
	font-size: 16px;
	color: #FFFFFF;
	line-height: 16px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
}

#u3854-4,#u3854-9,#u3854-14,#u3854-19,#u3854-24
{
	color: #8F8F8F;
}

#u3853-6
{
	display: block;
	vertical-align: top;
}


