.version.trailer__1 /* version checker */
{
	color: #0000FB;
	background-color: #986BAD;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1024px;
	min-height: 1020px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
}

#top
{
	position: relative;
}

#pu5294
{
	width: 0.01px;
	padding-bottom: 500px;
	margin-top: -18px;
}

#u5294
{
	z-index: 2;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/6.jpg") no-repeat center center;
	background-size: cover;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u5294-bw
{
	z-index: 2;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u5295
{
	z-index: 3;
	height: 500px;
	border-width: 0px;
	border-color: transparent;
	background: transparent url("../../images/stripe_pattern.png") repeat center center;
}

#u5295-bw
{
	z-index: 3;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#pu14541
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: -480px;
}

#u14541
{
	z-index: 135;
	width: 65px;
	position: relative;
	margin-right: -10000px;
}

#menuu3533
{
	z-index: 98;
	width: 498px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 242px;
}

#u3562
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
}

#u3565
{
	width: 78px;
	padding-bottom: 21px;
	position: relative;
}

#u3565:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u3568-4
{
	width: 45px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3565:hover #u3568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u3565.MuseMenuActive #u3568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 45px;
	margin: 0px -10000px 0px 0px;
}

#u3569
{
	width: 74px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 80px;
}

#u3570
{
	width: 74px;
	padding-bottom: 21px;
	position: relative;
}

#u3570:hover
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3570.MuseMenuActive
{
	width: 72px;
	min-height: 0px;
	margin: 0px;
}

#u3573-4
{
	width: 41px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3570:hover #u3573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u3570.MuseMenuActive #u3573-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 41px;
	margin: 0px -10000px 0px 0px;
}

#u3583
{
	width: 83px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 156px;
}

#u3584
{
	width: 83px;
	padding-bottom: 21px;
	position: relative;
}

#u3584:hover
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3584.MuseMenuActive
{
	width: 81px;
	min-height: 0px;
	margin: 0px;
}

#u3587-4
{
	width: 50px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3584:hover #u3587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3584.MuseMenuActive #u3587-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 50px;
	margin: 0px -10000px 0px 0px;
}

#u3576
{
	width: 84px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 241px;
}

#u3579
{
	width: 84px;
	padding-bottom: 21px;
	position: relative;
}

#u3579:hover
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3579.MuseMenuActive
{
	width: 82px;
	min-height: 0px;
	margin: 0px;
}

#u3582-4
{
	width: 52px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3579:hover #u3582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u3579.MuseMenuActive #u3582-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 52px;
	margin: 0px -10000px 0px 0px;
}

#u3534
{
	width: 91px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 327px;
}

#u3535
{
	width: 91px;
	padding-bottom: 21px;
	position: relative;
}

#u3535:hover
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u3535.MuseMenuActive
{
	width: 89px;
	min-height: 0px;
	margin: 0px;
}

#u3538-4
{
	width: 59px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u3535:hover #u3538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u3535.MuseMenuActive #u3538-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 59px;
	margin: 0px -10000px 0px 0px;
}

#u15904
{
	width: 78px;
	min-height: 40px;
	position: relative;
	margin-right: -10000px;
	left: 420px;
}

#u15907
{
	width: 78px;
	padding-bottom: 21px;
	position: relative;
}

#u3565.MuseMenuActive,#u15907:hover
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u15907.MuseMenuActive
{
	width: 76px;
	min-height: 0px;
	margin: 0px;
}

#u15909-4
{
	width: 46px;
	min-height: 19px;
	position: relative;
	margin-right: -10000px;
	top: 10px;
	left: 16px;
}

#u15907:hover #u15909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u15907.MuseMenuActive #u15909-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 19px;
	width: 46px;
	margin: 0px -10000px 0px 0px;
}

#u15874
{
	z-index: 137;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 833px;
}

#u3530
{
	z-index: 96;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 883px;
}

#u15874:hover,#u3530:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 6px -10000px 0px 0px;
}

#u3532
{
	z-index: 97;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 933px;
}

#u3532:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 7px -10000px 0px 0px;
}

#u5297-4
{
	z-index: 5;
	width: 966px;
	min-height: 92px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 72px;
	color: #FFFFFF;
	letter-spacing: 6px;
	line-height: 86px;
	text-align: center;
	font-family: exo, sans-serif;
	font-weight: 500;
	margin-left: 29px;
	top: -296px;
	margin-bottom: -92px;
	position: relative;
}

#u5298-6
{
	z-index: 9;
	width: 965px;
	min-height: 26px;
	text-shadow: 6px 6px 8px rgba(0,0,0,0.4);
	-pie-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: 0px;
	line-height: 24px;
	text-align: center;
	font-family: ubuntu, sans-serif;
	font-weight: 300;
	margin-left: 30px;
	top: -204px;
	margin-bottom: -26px;
	position: relative;
}

#pu5469
{
	width: 0.01px;
}

#u5469
{
	z-index: 4;
	height: 919px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u5469-bw
{
	z-index: 4;
	height: 919px;
}

#u5296
{
	z-index: 15;
	height: 698px;
	border-width: 0px;
	border-color: transparent;
	background-color: #FFFFFF;
}

#u5296-bw
{
	z-index: 15;
	height: 698px;
}

#ppamphletu5299
{
	width: 0.01px;
	margin-top: -833px;
}

#pamphletu5299
{
	z-index: 16;
	width: 0.01px;
	height: 482px;
	position: relative;
	margin-right: -10000px;
	left: 20px;
}

#u5302
{
	z-index: 17;
	width: 984px;
	position: relative;
	margin-right: -10000px;
}

#u5313
{
	position: absolute;
	width: 231px;
	height: 231px;
	border-width: 0px;
	border-color: transparent;
	background: #1E1E1E url("../../images/1-u5313-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5313:hover
{
	width: 231px;
	height: 231px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../../images/1-u5313-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u5307
{
	position: absolute;
	width: 231px;
	height: 231px;
	border-width: 0px;
	border-color: transparent;
	left: 251px;
	background: #1E1E1E url("../../images/2-u5307-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5307:hover
{
	width: 231px;
	height: 231px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../../images/2-u5307-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u5312
{
	position: absolute;
	width: 231px;
	height: 231px;
	border-width: 0px;
	border-color: transparent;
	left: 502px;
	background: #1E1E1E url("../../images/3-u5312-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5312:hover
{
	width: 231px;
	height: 231px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../../images/3-u5312-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u5309
{
	position: absolute;
	width: 231px;
	height: 231px;
	border-width: 0px;
	border-color: transparent;
	left: 753px;
	background: #1E1E1E url("../../images/4-u5309-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5309:hover
{
	width: 231px;
	height: 231px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../../images/4-u5309-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u5311
{
	position: absolute;
	width: 231px;
	height: 231px;
	border-width: 0px;
	border-color: transparent;
	top: 251px;
	background: #1E1E1E url("../../images/5-u5311-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5311:hover
{
	width: 231px;
	height: 231px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../../images/5-u5311-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u5310
{
	position: absolute;
	width: 231px;
	height: 231px;
	border-width: 0px;
	border-color: transparent;
	top: 251px;
	left: 251px;
	background: #1E1E1E url("../../images/6-u5310-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5310:hover
{
	width: 231px;
	height: 231px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../../images/6-u5310-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u5308
{
	position: absolute;
	width: 231px;
	height: 231px;
	border-width: 0px;
	border-color: transparent;
	top: 251px;
	left: 502px;
	background: #1E1E1E url("../../images/7-u5308-fr.jpg") no-repeat center center;
	background-size: cover;
}

#u5308:hover
{
	width: 231px;
	height: 231px;
	min-height: 0px;
	margin: 0px;
	background: #616161 url("../../images/7-u5308-r-fr.png") no-repeat center center;
	background-color: rgba(30,30,30,0.7);
	background-size: cover;
}

#u5315
{
	position: absolute;
	width: 995px;
	background-color: #343434;
	background-color: rgba(30,30,30,0.9);
	padding-bottom: 44px;
	top: -58px;
	left: -6px;
	-pie-background: rgba(30,30,30,0.9);
}

#u5315popup
{
	z-index: 25;
}

#u5317
{
	z-index: 26;
	width: 951px;
	height: 643px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/1.jpg") no-repeat center center;
}

#u5322
{
	z-index: 27;
	width: 951px;
	height: 643px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/2.jpg") no-repeat center center;
}

#u5318
{
	z-index: 28;
	width: 951px;
	height: 643px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/3.jpg") no-repeat center center;
}

#u5323
{
	z-index: 29;
	width: 951px;
	height: 643px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/4.jpg") no-repeat center center;
}

#u5325
{
	z-index: 30;
	width: 951px;
	height: 643px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/5.jpg") no-repeat center center;
}

#u5319
{
	z-index: 31;
	width: 951px;
	height: 643px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/6.jpg") no-repeat center center;
}

#u5327
{
	z-index: 32;
	width: 951px;
	height: 643px;
	border-width: 0px;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	background: transparent url("../../images/7.jpg") no-repeat center center;
}

#u5328
{
	position: absolute;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	top: 552px;
	left: 915px;
	background: #FFD81B url("../../images/prev_small_arrow.png") no-repeat center center;
}

#u5301
{
	position: absolute;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	top: 502px;
	left: 915px;
	background: #FFD81B url("../../images/next_small_arrow.png") no-repeat center center;
}

#u5300
{
	position: absolute;
	width: 50px;
	height: 50px;
	border-width: 0px;
	border-color: transparent;
	top: -38px;
	left: 915px;
	background: #FFD81B url("../../images/close_button.png") no-repeat center center;
}

#u5300:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px;
	background: #FFE776 url("../../images/close_button-u3671-r-fr.png") no-repeat center center;
	background-color: rgba(255,216,27,0.6);
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u3851
{
	z-index: 36;
	min-height: 188px;
	padding-bottom: 65px;
}

#pu3855-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 67px;
}

#u3855-4
{
	z-index: 75;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#u3858-4
{
	z-index: 83;
	width: 285px;
	min-height: 62px;
	margin-top: 30px;
	position: relative;
}

#pu3857-4
{
	width: 0.01px;
	padding-bottom: 1px;
	margin-right: -10000px;
	margin-top: 74px;
	margin-left: 640px;
}

#u3857-4
{
	z-index: 79;
	width: 285px;
	min-height: 22px;
	position: relative;
}

#pu16314
{
	width: 0.01px;
	margin-top: 35px;
}

#u16314
{
	z-index: 93;
	width: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u16314:hover
{
	width: 50px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u16310
{
	z-index: 89;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 68px;
}

#u16310:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 1px -10000px 0px 0px;
}

#u16311
{
	z-index: 90;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 128px;
}

#u16312
{
	z-index: 91;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 190px;
}

#u16313
{
	z-index: 92;
	width: 50px;
	height: 50px;
	position: relative;
	margin-right: -10000px;
	left: 255px;
}

#u16311:hover,#u16312:hover,#u16313:hover
{
	width: 50px;
	height: 50px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3851-bw
{
	z-index: 36;
	min-height: 188px;
	margin-top: 833px;
}

#u3852
{
	z-index: 37;
	min-height: 97px;
	padding-bottom: 30px;
}

#u14555
{
	z-index: 87;
	width: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 20px;
}

#pu3854-31
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 45px;
	margin-left: 165px;
}

#u3854-31
{
	z-index: 44;
	width: 695px;
	min-height: 21px;
	position: relative;
}

#u3853-6
{
	z-index: 38;
	margin-top: 10px;
	position: relative;
}

#u5462
{
	z-index: 95;
	width: 65px;
	height: 65px;
	border-width: 0px;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 939px;
	background: transparent url("../../images/up_01.png") no-repeat center center;
}

#u5462:hover
{
	width: 65px;
	height: 65px;
	min-height: 0px;
	margin: 31px -10000px 0px 0px;
	background: transparent url("../../images/up_02.png") no-repeat center center;
}

#u3852-bw
{
	z-index: 37;
	min-height: 97px;
}

.html
{
	background-color: #1E1E1E;
}

body
{
	position: relative;
	min-width: 1024px;
}

@-ms-viewport
{
	width: 1024px;
}

@-webkit-viewport
{
	width: 1024px;
}

@-o-viewport
{
	width: 1024px;
}

@-moz-viewport
{
	width: 1024px;
}

@viewport
{
	width: 1024px;
}

